/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
:root {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
