@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: Tomorrow;
}
:root {
  line-height: 1.5;
  --primary: hsl(210, 30%, 21%);
  --secondary: #3498db;
  --success: #27ae60;
  --warning: #e7bb08;
  --danger: #c0392b;
  --muted: #7f8c8d;
  --bg: #ecf0f1;
  --text: hsl(192, 90%, 100%);
  --fg: rgb(243, 255, 251);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
body {
  background-color: var(--bg);
  max-width: 2100px;
  margin-left: auto;
  margin-right: auto;
}
/* app */
.app {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 200px 1fr;
  grid-template-areas:
    'sidebar topbar topbar topbar topbar'
    'sidebar content content content content';
  height: 100vh;
}
button {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  font-size: 0.8rem;
  margin: 5px;
  max-width: fit-content;
  background-color: var(--primary);
  color: var(--text);
}
button:hover {
  transform: translate(0px, -1px);
  background-color: var(--secondary);
}
.deleteBtn {
  background-color: var(--danger);
}
.deleteBtn:hover {
  background-color: #70231b;
}
/* topbar */
.topbar {
  grid-area: topbar;
  display: flex;
  background-color: var(--primary);
  padding-left: 40px;
  align-items: center;
  font-size: clamp(1rem, 2vw + 1rem, 2rem);
  color: var(--text);
}
/* sidebar */
.projectList > .current {
  background-color: var(--secondary);
}
.sidebar {
  grid-area: sidebar;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  background-color: var(--fg);
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  font-size: clamp(0.5rem, 1vw + 0.5rem, 1.2rem);
}
.sidebar > h2 {
  min-height: 120px;
}
.sideHeader {
  min-height: 50px;
  display: flex;
  align-items: end;
}
#projectForm {
  margin-bottom: 8px;
}
input,
textarea {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 0;
  padding-left: 5px;
  font-size: 1rem;
  background: transparent;
}
input:focus,
textarea:focus {
  outline: none;
  border-color: var(--secondary);
}

.projectList {
  max-height: 600px;
  overflow-y: auto;
  flex: auto;
  list-style: none;
  padding: 10px;
}
.projectList > li {
  margin-top: 8px;
  border-radius: 5px;
  /* border: 3px solid var(--primary); */
  padding-left: 10px;
  background-color: var(--primary);
  color: var(--text);
}
.projectList > li:hover {
  background-color: var(--secondary);
}
/* content */
.content {
  grid-area: content;
  margin: 15px;
  background-color: var(--fg);
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
.projectBanner {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.projectBanner > h1 {
  font-size: clamp(1rem, 2vw + 1rem, 2.8rem);
}

.taskHeader {
  font-size: clamp(1rem, 2vw + 1rem, 2rem);
  display: grid;
}
/* table */
table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;

  font-size: clamp(0.7rem, 1vw + 0.5rem, 1.2rem);
}

th,
td {
  padding: 10px 3px;
  border-bottom: 1px solid #ddd;
}
th {
  text-align: left;
  background: #f5f5f5;
  font-weight: 600;
}
.high {
  color: var(--danger);
  font-weight: bolder;
}
.medium {
  color: var(--warning);
  font-weight: bolder;
}
.low {
  color: var(--success);
  font-weight: bolder;
}
.task-checkbox {
  height: 20px;
  width: 20px;
}

.taskCompleted {
  text-decoration: line-through;
}
/* task form/dialog */
#taskDialog {
  height: 450px;
  width: 350px;
  position: fixed;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}
#taskDialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}
.taskForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 600px) {
  .sidebar {
    max-width: 150px;
    padding-left: 6px;
    padding-right: 6px;
  }
  input {
    max-width: 100px;
  }
  .projectList {
    padding: 3px;
  }
  .content {
    margin: 8px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
