/* @import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

:root {
  --primary: hsl(210, 30%, 21%);
  --secondary: #3498db;
  --success: #27ae60;
  --warning: #e7bb08;
  --danger: #c0392b;
  --muted: #7f8c8d;
  --bg: #ecf0f1;
  --text: hsl(192, 90%, 100%);
  --fg: rgb(243, 255, 251);
}
body {
  background-color: var(--bg);
  max-width: 2100px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  border: 1px solid black;
}
/* app */
.app {
  display: flex;
  max-width: 80%;
}

/* gif divs */
.gif {
  flex: 1;
}
/* weather div */
.weather {
}
