@import url('https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap');

:root {
  --primary: hsl(290, 78%, 77%);
  --secondary: #a4c1d5;
  --cold: #4375ca;
  --warm: #e7d075;
  --hot: #c1584d;
  --text: white;
}
* {
  font-family: 'Cherry Cream Soda', system-ui;
}
body {
  background: #3f5efb;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  max-width: 2100px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  color: var(--text);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-bottom: 100px;
  font-size: 3rem;
}
button,
input {
  border-radius: 5px;
  padding: 5px;
}
button:hover {
  background-color: var(--secondary);
}
/* app */
.app {
  display: flex;
  max-width: 85%;
  min-height: 400px;
  align-items: center;
}
img {
  border: none;
}
div {
  border: none;
}

/* gif divs */
.gif {
  flex: 1;
  width: 300px;
  height: 300px;
}
.gif img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gif img:not([src]),
.gif img[src=''],
.gif img[src='null'] {
  display: none;
}

/* weather container */
.weatherContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
/* weather div */
.weatherDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

@media (max-width: 600px) {
  .app {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
